@import "./theme.less";

.dataflow-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  padding-top: 33px;
  border-left: 1px solid @graph-border-color;
  background: @graph-bg-color;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
}

.dataflow-form {
  .block {
    padding: 10px;
    border-bottom: 1px solid #26465f;
    position: relative;

    .title {
      padding: 0 0 10px 10px;
      font-weight: bold;
      display: block;
    }

    .operation {
      position: absolute;
      top: 10px;
      right: 10px;
      color: @graph-primary-color;
      font-weight: normal;
      z-index: 1;
    }
  }
}


.dataflow-action {
  display: flex;
  flex-direction: column;
}

.effect-form-operation {
  min-width: 310px;
  display: flex;
  flex-direction: row-reverse;

  button + button {
    margin-right: 10px;
  }
}
